#articulo-principal { 
    border-radius: 10px;
    background-color: #f8f3f5;
    
}
body { 
    background-image: url(https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?size=626&ext=jpg&ga=GA1.1.672697106.1713484800&semt=sph);
 }
h1 {
color: #4fb2b2;
text-align: justify;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.mi-articulo { 
    color: rgb(59, 148, 136);
}
ul{ 
   color: #e4698b;
}

ul { 
    list-style:none ;
    margin-left: 5px;
    margin-right: 5px;
}
ul li { 
   display: inline-block;
 }
 ul li a { 
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
  }
