/*Variables*/
$color-principal: beige;
$color-secundario: bisque;
$color-terciario: rosybrown;
$principal-font: Georgia, "Times New Roman", Times, serif;
$max-size: 2rem;
$min-size: 1rem;
$medium-size: 1.5rem;